body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 200px 0 50px 0;
    background-image:url(header.png);
    background-size: cover;
    background-position:center;
    height:100%;
    color: #291b00;
    text-align: left;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 2px;
    margin-bottom: 2px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 20px 0;
  }
  
  .view {
    background-color: #843700;
    color: white;
  }
  
 
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 8px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color:rgba(107, 79, 3, 0.5);
    /* Ubah position ke fixed, dan top ke 0 */
    position: fixed;
    top: 0;
    
    /* Ubah z-index ke 10 */
    z-index: 10;
    
  }
  
  .logo {
    width: 124px;
    margin-top: 4px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    background-color:rgba(255, 255, 128, .5);
    transition: all 0.5s;
  }
  
  .header-right:hover {
    background-color:rgba(255, 255, 128, .5);
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
  }
  
  .lesson-wrapper {
    height: 100px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 40px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .lesson {
    float: left;

  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 90px;
    width:10px;
    color: white;
  }
  
  .txt-contents {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
  }
